.col-sm-6{		
	padding: 30px;
	font-size: 25px;
}

p {
	padding: 30px;
}

body{
	background-image: url('http://static.tumblr.com/xbtzfct/jP6mlq7ew/background-cute-girl-incopiavel4-white.png');
	margin-top: 70px;
	background-size: cover;
	background-repeat : no-repeat;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none;
}
section{
  min-height: 300px;
}

.btn{
  margin-top: 10px;
  background: #e45;
  position: relative;
  left: 80%;
  width: 20%;
}

.img-circle{
  float: left;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid black;
}


.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}


footer p{
  text-align: left;
  padding-top: 10px;
  background-color : white-space;
}

@media only screen and (max-width: 480px) {
  #input-list form {
      width: 290px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
