body{
  margin-top: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none;
}
section{
  min-height: 300px;
}

.btn{
  margin-top: 10px;
  background: #e45;
  position: relative;
  left: 80%;
  width: 20%;
}

.img-circle{
  float: left;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid black;
}

#input-list{
  margin: 30px;
  height: 50px:
}
#input-list form{
  width: 800px;
  margin: 30px;
  text-align: left;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(9, 233, 28, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  left: 10%
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  width: 100%;
}
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;    
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  word-break: break-word;
}

#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#my-list .my-list-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.to-do-list{
  margin-top: 40px;
  text-align: left;
  width: 800px;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
.to-do-list:hover {
    -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}
.to-do-list .to-do-list-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  text-align: left;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
  color: #2C3E50;
  z-index: 15;
  background: #fff;
  min-height: 50px;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;

}
.to-do-list .to-do-list-delete {
  text-align: center;
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
  width: 15%;
  height: 45px;
  position: relative;
  left: 81%;
  border-radius: 3px;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.to-do-list .to-do-list-delete:hover{
  background-color: white;
  color: #e45;
}

footer p{
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 480px) {
  #input-list form {
      width: 290px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
