{% extends "fitur4/layout/base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/statistic.css' %}" 
<div class="container">
<img src="https://cdn4.iconfinder.com/data/icons/people-14/24/Anonymous-2-512.png" style="width: 200px; height: 200px; border-radius: 100%;" margin-top = 100px>
<h1 style="text-align: left;">{{ name }}</h1>

<div class="col-sm-6" >
	<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	Posts : {{ totalstatus }}
</div>
<div class="col-sm-6" >
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	Friends : {{ totalfriend }}
</div>
<div class="" style="padding: 30px;font-size: 25px;">
	Latest Post<br>
	{% if lastpost %}
	<img src=""https://cdn4.iconfinder.com/data/icons/people-14/24/Anonymous-2-512.png" style="width: 150px; height: 150px; border-radius: 100%;">
	{{ name }} <br>
	{{ lastpost.status }}<br>
	{{ lastpost.created_date }}
	{% else %}
	<p>No Posts!</p>
	{% endif %}
</div>
{% endblock %}