		{% extends "halaman_profile/layout/base.html" %}

		{% block content %}
		<style>
			.Nama{
				
			}

			.button {
			background-color: #cbd1c8;
			border: none;
			color: black;
			padding: 5px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			margin: 4px 2px;
			cursor: pointer;
			}
			.button1 {border-radius: 12px;}

			@media only screen and (max-width: 480px) {
				#input-list form {
				width: 290px;
				}
				.to-do-list .to-do-list-delete {
				bottom: -50px;
				}
				.flex-item{
				padding: 0 15px;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 100%;
				}
			}
			body{
			  margin-top: 70px;
			  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt1JT4a5DvOj11378D0BUdOFYmFbXq5G6GBplc3GZCj37K_m9B);
			  background-size: cover;
			  background-repeat: no-repeat;
			}

			/* Custom navbar style */
			.navbar-static-top {
			  margin-bottom: 19px;
			}
			.navbar-default .navbar-nav>li>a {
			    cursor: pointer;
			}

			/* Textarea not resizeable */
			textarea {
			    resize:none
			}
			section{
			  min-height: 600px;
			}
			/* animasi pada title */
			.main-title{
			  -webkit-animation: colorchange 1s infinite;
			  -webkit-animation-direction: alternate;
			  text-align: center;
			}

			/* animasi colorchange */
			@-webkit-keyframes colorchange {
			    0% {
			        -webkit-text-stroke: 5px #0fb8ad;
			    letter-spacing: 0;
			    }
			  50% {
			    -webkit-text-stroke: 7.5px  #1fc8db;
			  }
			    100% {
			        -webkit-text-stroke: 10px  #2cb5e8;
			    letter-spacing: 18px;
			    }
			}
			/* styling footer */
			footer p{
				background: lightgrey;
				text-align: center;
				padding-top: 10px;
			}
			/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
			@media only screen and (max-width: 768px) {
			  #input-list form {
			      width: 290px;
			  }
			  .to-do-list .to-do-list-delete {
			    bottom: -50px;
			  }
			  .flex-item{
			    padding: 0 15px;
			    flex-grow: 0;
			    flex-shrink: 0;
			    flex-basis: 100%;
			  }
			}
		}
		</style>

		<section name="profile">
		<div class="container">
		    <h3 style="padding: 35px; text-align: left">Profile</h3>
		    <center>
		    	<img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/people-14/24/Anonymous-2-512.png" style="width: 150px; height: 150px; border-radius: 100%;">
		    </center>
		    
		    <center>
		        <h2>
		            <font face="verdana">{{Nama}}</font>
		        </h2>
		    </center>
		    <hr/>
		    <div class = "col-md-4">
		    </div>
		    <div class="col-md-1">
		        <p> Birthday </p>
		        <p> Gender </p>
		        <p style="padding-top: 12px;padding-bottom: 6px"> Expertise </p>
		        <p> Description </p>
		        <p> Email </p>
		    </div>
		    <div class="col-md-7">
		        <p> {{Birthday}} </p>
		        <p> {{Gender}} </p>
		        <p> {% for ii in Expertise %}
		                <button class='button button1'>{{ ii }}</button>
		            {% endfor %}
		        <p> {{Description}} </p>
		        <p> {{Email}} </p>
		    </div>
		</div>
		</section>
		{% endblock %}