<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar aria-expanded="false" aria-controls="navbar"">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/update_status/">Status</a></li>
      <li><a href="/halaman_profile/">Profil</a></li>
      <li><a href="/add_friends/">Friends</a></li>
      <li><a href="/fitur4/">Stats</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Ling In</a></li>
    </ul>
  </nav>