{% extends "add_friends/layout/base.html" %}

{% block content %}
<style>
    body {
    margin-top: 70px;
    
}
/* Textarea not resizeable */
textarea {
    resize:none
}
section{
    min-height: 600px;
}
/* styling footer */
footer p {
    text-align: center;
    padding-top: 10px;
}

  /* styling form */
#form form{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}
  /* styling judul form, apakah arti dari tanda '>' ? */
#form form > h2{
    font-size: 1.3em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
#form form > .todo-form-name, #form form > .todo-form-heroku_url{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
table tr:nth-child(odd){
    text-align: center;
    color:  #4f6457;
    padding: 5px;
    font-size: 12px;
    background: #75b1a9;
    font-weight: bold;
}
table tr:nth-child(even){
    text-align: center;
    color: #4f6457;
    padding: 5px;
    font-size: 12px;
    background: #acd0c0;
    font-weight: bold;
}
h1 {
    text-align: center;
    margin: 10px;
}

</style>
    <section name="form" id="form">
        <form id="form" method="POST" action="{% url 'add_friends:add_friends' %}">
            <h2>Add Friends</h2>
            {% csrf_token %}
            {{ Todo_form }}
            <br>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </section>

    <section name ="friend" id="friends">
        <h1>List Friend</h1>
        <table class="table">
            <tbody>
                {% for i in post %}
                <tr>
                    <td> {{i.name}} </td>
                    <td><a href= {{i.heroku_url}}> {{i.heroku_url}}</a> </td>
                    <td> Added {{i.created_date}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

    
    