<!DOCTYPE html>
<style>

</style>
<html lang="en">
<head>
	<title>Tugas 1 PPW</title>
	 <title>Bootstrap Example</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		footer {
			background-color: #555;
			color: white;
			padding: 5px;
		
			}
	</style>
</head>
<body>
	<header>
		{% include "partials/header.html" %}
	</header>
	<content style="min-height: 85vh">
		{% block content %}
		<!-- content goes here -->
		{% endblock %}
	</content>
	<footer>
		{% block footer %}
		{% include "partials/footer.html" %}
		{% endblock %}
	</footer>

	<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>