{% extends "update_status/layout/base.html" %}

{% block content %}
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'update_status:add_status' %}">
            <h4><span class="glyphicon glyphicon-pencil"></span>Add status</h4>
            {% csrf_token %}
            {{ status_form }}
            <input id="post" type="submit" class="btn btn-lg btn-info" value="Post!">
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                <img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/people-14/24/Anonymous-2-512.png" alt="My pic" height=53 width=53 >
                                <h4>Nathanael Lemuella</h4>
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                            <form id="form-{{data.id}}" method="post" action="{% url 'update_status:remove_status' %}" style="display:initial; white-space:nowrap;">
								{% csrf_token %}
								<input type="hidden" name="flag" value="{{data.id}}" />
                                <input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> belum ada status.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}        
